In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = '/Users/santiagoromero/Documents/Maestria/Modelos Analisis Estadisticos/Tareas/Tarea 1 2/Data_Normalizada.csv'
data_frame = pd.read_csv(data, sep=';', low_memory=False)
data_frame

,Index,ESTU_GENERO,ESTU_DEPTO_RESIDE,FAMI_ESTRATOVIVIENDA,COLE_NATURALEZA,COLE_AREA_UBICACION,COLE_JORNADA,PUNT_LECTURA_CRITICA,PUNT_MATEMATICAS,PUNT_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PUNT_INGLES,PUNT_GLOBAL,PERCENTIL_GLOBAL,Normal_PUNT_LECTURA_CRITICA,Normal_PUNT_MATEMATICAS,Normal_PUNT_C_NATURALES,Normal_PUNT_SOCIALES_CIUDADANAS,Normal_PUNT_INGLES,Normal_PUNT_GLOBAL
0,2,M,BOGOTÁ,Estrato 3,NO OFICIAL,URBANO,COMPLETA,60,65,54,59,63.0,299,"83,00","0,64","1,11","0,41","0,93","0,96","0,89"
1,4,M,BOGOTÁ,Estrato 3,OFICIAL,URBANO,MAÑANA,62,54,61,73,53.0,309,"88,00","0,83","0,18","1,07","2,07","0,18","1,09"
2,5,M,BOGOTÁ,Estrato 3,OFICIAL,URBANO,MAÑANA,63,57,55,57,52.0,288,"78,00","0,92","0,44","0,51","0,77","0,10","0,68"
3,6,M,ATLANTICO,-,NO OFICIAL,URBANO,NOCHE,49,29,41,41,35.0,198,"19,00","-0,42","-1,92","-0,79","-0,54","-1,22","-1,07"
4,7,M,VALLE,Estrato 4,NO OFICIAL,URBANO,MAÑANA,76,70,70,68,72.0,355,"99,00","2,17","1,53","1,90","1,67","1,66","1,98"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177342,546194,M,BOGOTÁ,Estrato 3,OFICIAL,URBANO,TARDE,70,66,60,63,61.0,322,92,"1,60","1,19","0,97","1,26","0,80","1,34"
177343,546196,F,BOGOTÁ,Estrato 2,OFICIAL,URBANO,TARDE,62,53,54,56,49.0,278,73,"0,83","0,10","0,41","0,68","-0,13","0,49"
177344,546203,F,HUILA,Estrato 3,OFICIAL,URBANO,MAÑANA,100,73,70,72,84.0,396,100,"4,48","1,78","1,90","1,99","2,59","2,78"
177345,546209,M,BOGOTÁ,Estrato 3,NO OFICIAL,URBANO,COMPLETA,75,73,72,67,74.0,360,99,"2,08","1,78","2,09","1,58","1,81","2,08"
177346,546212,M,BOGOTÁ,Estrato 3,OFICIAL,URBANO,MAÑANA,76,73,72,71,74.0,365,99,"2,17","1,78","2,09","1,91","1,81","2,18"

In [3]:
data_frame['Normal_PUNT_MATEMATICAS'] = data_frame['Normal_PUNT_MATEMATICAS'].str.replace(',', '.', regex=True).astype(float) 
data_frame['Normal_PUNT_C_NATURALES'] = data_frame['Normal_PUNT_C_NATURALES'].str.replace(',', '.', regex=True).astype(float) 
data_frame['Normal_PUNT_SOCIALES_CIUDADANAS'] = data_frame['Normal_PUNT_SOCIALES_CIUDADANAS'].str.replace(',', '.', regex=True).astype(float) 
data_frame['Normal_PUNT_INGLES'] = data_frame['Normal_PUNT_INGLES'].str.replace(',', '.', regex=True).astype(float) 
data_frame['Normal_PUNT_GLOBAL'] = data_frame['Normal_PUNT_GLOBAL'].str.replace(',', '.', regex=True).astype(float)

In [4]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177347 entries, 0 to 177346
Data columns (total 20 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Index                            177347 non-null  int64
 1   ESTU_GENERO                      177347 non-null  object
 2   ESTU_DEPTO_RESIDE                177347 non-null  object
 3   FAMI_ESTRATOVIVIENDA             177347 non-null  object
 4   COLE_NATURALEZA                  177347 non-null  object
 5   COLE_AREA_UBICACION              177347 non-null  object
 6   COLE_JORNADA                     177347 non-null  object
 7   PUNT_LECTURA_CRITICA             177347 non-null  int64
 8   PUNT_MATEMATICAS                 177347 non-null  int64
 9   PUNT_C_NATURALES                 177347 non-null  int64
 10  PUNT_SOCIALES_CIUDADANAS         177347 non-null  int64
 11  PUNT_INGLES                      177346 non-null  float64
 12  PUNT_GLOBAL                      177347 non-null  int64
 13  PERCENTIL_GLOBAL                 177346 non-null  object
 14  Normal_PUNT_LECTURA_CRITICA      177347 non-null  object
 15  Normal_PUNT_MATEMATICAS          177347 non-null  float64
 16  Normal_PUNT_C_NATURALES          177347 non-null  float64
 17  Normal_PUNT_SOCIALES_CIUDADANAS  177347 non-null  float64
 18  Normal_PUNT_INGLES               177347 non-null  float64
 19  Normal_PUNT_GLOBAL               177347 non-null  float64
dtypes: float64(6), int64(6), object(8)
memory usage: 27.1+ MB

In [5]:
#Obteniendo las variables continuas
variables_continuas = []
data_types = data_frame.dtypes
for columna, dtype in data_types.items():
    if dtype != 'object':
        variables_continuas.append(columna)

#Creando un diccionario que almacena los valores perdidos
valores_perdidos = {}
for variable in variables_continuas:
    valores_perdidos[variable] = None

#Agregando los valores perdidos a cada variable
for i, variable in enumerate(valores_perdidos):
    valor_perdido = data_frame[variable].isna()
    perdidos = valor_perdido.sum()
    valores_perdidos[variable] = perdidos

df_valores_perdidos = pd.DataFrame([valores_perdidos]).transpose()
df_valores_perdidos.index.name = "Variable"
print('Cantidad de datos perdidos para cada variable categorica')
df_valores_perdidos

Cantidad de datos perdidos para cada variable categorica

                                 0
Variable
Index                            0
PUNT_LECTURA_CRITICA             0
PUNT_MATEMATICAS                 0
PUNT_C_NATURALES                 0
PUNT_SOCIALES_CIUDADANAS         0
PUNT_INGLES                      1
PUNT_GLOBAL                      0
Normal_PUNT_MATEMATICAS          0
Normal_PUNT_C_NATURALES          0
Normal_PUNT_SOCIALES_CIUDADANAS  0
Normal_PUNT_INGLES               0
Normal_PUNT_GLOBAL               0

In [6]:
#Descriptivos de cada variable continua
#Creando un diccionario que almacena los estadisticos de cada variable
descriptivos = {}
for variable in variables_continuas:
    descriptivos[variable] = []

for i, variable in enumerate(variables_continuas):
    datos = data_frame[variable].describe().loc[['mean', 'std', 'max', 'min']]
    descriptivos[variable] = datos
    
df_desciptivos = pd.DataFrame(descriptivos).transpose()
df_desciptivos

                                          mean            std        max   min
Index                            269733.801609  155587.792239  546212.00  2.00
PUNT_LECTURA_CRITICA                 53.380226      10.416497     100.00  0.00
PUNT_MATEMATICAS                     51.817262      11.876710     100.00  0.00
PUNT_C_NATURALES                     49.546606      10.752327     100.00  0.00
PUNT_SOCIALES_CIUDADANAS             47.635641      12.228414     100.00  0.00
PUNT_INGLES                          50.693926      12.870041     100.00  0.00
PUNT_GLOBAL                         253.013211      51.465233     477.00  0.00
Normal_PUNT_MATEMATICAS               0.000087       0.999926       4.06 -4.36
Normal_PUNT_C_NATURALES               0.000340       0.999950       4.69 -4.61
Normal_PUNT_SOCIALES_CIUDADANAS      -0.000029       1.000108       4.28 -3.90
Normal_PUNT_INGLES                    0.000040       0.999933       3.83 -3.94
Normal_PUNT_GLOBAL                   -0.000009       0.999984       4.35 -4.92