<img src="./Archivos/miia4.png" width=800x>

# Librerías para manejo de datos: `numpy` y `pandas`

En este taller implementarás métodos de las librerías `numpy` y `pandas`, para integrarlos en procesos de análisis de datos.

## Habilidades en práctica

Al realizar este taller podrás revisar tu progreso para:

**1.** Utilizar arreglos y operaciones básicas en `numpy`. <br>
**2.** Crear, indexar y utilizar métodos para explorar y manipular `Series` y `DataFrame` en `pandas`.

## Instrucciones

En cada uno de los siguientes ejercicios deberás escribir el código solicitado estrictamente en las celdas indicadas para ello, teniendo en cuenta las siguientes recomendaciones:

* No crear, eliminar o modificar celdas de este Notebook (salvo lo que se te indique), pues puede verse afectado el proceso de calificación automática.
* La calificación se realiza de manera automática con datos diferentes a los proporcionados en este taller. Por consiguiente, tu código debe funcionar para diferentes instancias de cada uno de los ejercicios; una instancia hace referencia al valor de los parámetros.
* La calificación de cada ejercicio depende del valor que tome la variable especificada en su enunciado. Por lo tanto, aunque declares variables adicionales en tu código, es escencial que utilices los nombres de las variables propuestas en los enunciados de los ejercicios para guardar el resultado final.

Esta es una actividad calificada y, por lo tanto, debe ser resuelta individualmente.

A continuación puedes ver un ejemplo de los ejercicios que encontrarás en este taller.

## Ejercicios
En la siguente celda encuentras declarados los paquetes necesarios para el desarollo de este taller.

In [1]:
# Esta celda no es modificable.

import numpy as np
import pandas as pd

### Ejemplo
A continuación encuentras dos arreglos. Cada uno contiene los salarios (en USD) de los funcionarios de un área de una empresa.

In [2]:
# Esta celda no es modificable.

mercadeo = np.array([2000, 1500, 1300, 1600])
logistica = np.array([1800, 1600, 1200, 1100])

Implementa una función llamada `suma` que reciba dos arreglos por parámetro, los una y retorne la suma de los elementos de la unión.

*Esta función debe retornar un `int`.*

In [3]:
# Implementa tu respuesta en esta celda.

def suma(arreglo1, arreglo2):
    
    concatenado = np.concatenate((arreglo1,arreglo2))
    respuesta = concatenado.sum()
    
    return respuesta

suma(mercadeo, logistica)

12100

### Ejercicio 1
A continuación encuentras dos arreglos. Cada uno contiene los salarios (en USD) de los funcionarios de un área de una empresa.

In [4]:
# Esta celda no es modificable.

mercadeo = np.array([2000, 1500, 1300, 1600])
logistica = np.array([1800, 1600, 1200, 1600])

Implementa una función llamada `promedio` que reciba dos arreglos por parámetro, los una y retorne el promedio de los elementos de la unión.

*Esta función debe retornar un `float`*.

In [5]:
# Implementa tu respuesta en esta celda.

def promedio(arreglo1,arreglo2):
    concatenado = np.concatenate((arreglo1,arreglo2))
    respuesta = concatenado.mean()
    return respuesta
promedio(mercadeo,logistica)

1575.0

In [6]:
## AUTO-CALIFICADOR

# Base variables
mercadeo_test = np.array([2000, 1800, 1300])
logistica_test = np.array([1100, 1900, 1600, 1500])
# Respuestas 1800 og  y 1600 test

# Caso 1: no existe la función.
try:
    promedio
    assert type(promedio) == type(lambda:None)
except:
    raise NotImplementedError("No existe una función llamada promedio.",)
    
# Caso 2: la función es interrumpida por errores durante su ejecución.
try:
    promedio(mercadeo, logistica)
    promedio(mercadeo_test, logistica_test)
except:
    raise RuntimeError("Tu función produce un error al ejecutarse.")

# Caso 3: no retorna un número
assert type(promedio(mercadeo_test, logistica_test)) == np.float64, f"Tu función debe retornar un valor de tipo {np.float64}."    
       
# Caso 4: respuesta explicita
assert promedio(mercadeo_test, logistica_test) != 1800.0, "Tu respuesta es incorrecta para una instancia diferente. Utiliza los parámetros."

# Caso 5: procedimiento incorrecto
assert promedio(mercadeo_test, logistica_test) <= 1600.0, "Tu respuesta es incorrecta. Asegurate de cocatenar los arreglos y luego calcular un promedio."

# Caso 6: retorna un numero distinto del esperado
assert promedio(mercadeo_test, logistica_test) == 1600.0, "Tu respuesta es incorrecta. Es posible que hayas omitido algún valor al realizar el cálculo."
assert promedio(mercadeo, logistica) == 1575.0, "Tu respuesta es incorrecta. Es posible que hayas omitido algún valor al realizar el cálculo."

# Mensaje de felicitaciones
print("Felicidades, realizaste este ejercicio correctamente.")

Felicidades, realizaste este ejercicio correctamente.

### Ejercicio 2

A continuación encuentras un `Series` que contiene la edad de Sonia y sus hermanos. Ellos quieren saber quienes son los dos mayores para estar atentos a la vacunación.

In [7]:
# Esta celda no es modificable.

hermanos = pd.Series({"Sonia": 40, "Patricia": 42, "Jorge": 37, "Alejandro": 45, "Aura": 47, "Carlos": 40, "Claudia": 41, "Victor": 43})

In [8]:
hermanos

Sonia        40
Patricia     42
Jorge        37
Alejandro    45
Aura         47
Carlos       40
Claudia      41
Victor       43
dtype: int64

Implementa una función llamada `mayores` que reciba un `Series` por parámetro y retorne los dos mayores valores en una tupla.

*Esta función debe retornar una tupla de la forma* `(mayor_valor1, mayor_valor2)` *, dónde* `mayor_valor1` *es mayor o igual que* `mayor_valor2` *.*

In [9]:
# Implementa tu respuesta en esta celda.

def mayores(serie):
    serie_ordenada = serie.sort_values(ascending = False)
    respuesta = (serie_ordenada[0],serie_ordenada[1])
    return respuesta
mayores(hermanos)

(47, 45)

In [10]:
## AUTO-CALIFICADOR

# Base variables
hermanos_test = pd.Series({"Sonia": 43, "Patricia": 46, "Jorge": 39, "Alejandro": 40, "Aura": 30, "Carlos": 41, "Claudia": 40})

# Caso 1: no existe la función.
try:
    mayores
    assert type(mayores) == type(lambda:None)
except:
    raise NotImplementedError("No existe una función llamada mayores.",)
    
# Caso 2: la función es interrumpida por errores durante su ejecución.
try:
    mayores(hermanos)
    mayores(hermanos_test)
except:
    raise RuntimeError("Tu función produce un error al ejecutarse.")

# Caso 3: no retorna una lista
assert type(mayores(hermanos_test)) == type(("",)), f"Tu función debe retornar un objeto de tipo {type(tuple).__name__}."    
       
# Caso 4: tamaño incorrecto
assert len(mayores(hermanos_test)) == 2, "Tu función retorna una lista de un tamaño diferente al solicitado."

# Caso 5: procedimiento incorrecto
assert mayores(hermanos_test) != [47, 45], "Tu respuesta es incorrecta para una instancia diferente. Utiliza los parámetros."

# Caso 6: la lista no contiene todos los valores correctos
try:
    assert mayores(hermanos_test).count(46) >= 1
    assert mayores(hermanos_test).count(43) >= 1
except AssertionError as e:
    e.args += ("Tu respuesta no contiene la información solicitada.",)
    raise e

# Caso 7: la lista es estrictamente correcta
try:
    assert mayores(hermanos_test)[0] == 46
    assert mayores(hermanos_test)[1] == 43
except AssertionError as e:
    e.args += ("Tu respuesta tiene un orden incorrecto.",)
    raise e

# Caso 8: retorna un numero distinto del esperado
assert mayores(hermanos) == (47, 45), "Tu respuesta es incorrecta."

# Mensaje de felicitaciones
print("Felicidades, realizaste este ejercicio correctamente.")

Felicidades, realizaste este ejercicio correctamente.

## Salarios en latinoamérica

A continuación, encuentras declarado un `DataFrame` que contiene la edad, la ciudad de residencia y el salario (en USD) de nombres de algunos empleados de una multinacional. Utiliza esta información para dar respuesta a los ejercicios 3, 4 y 5.

In [11]:
# Esta celda no es modificable.

e1 = [ 28,"Bogotá", 2000]
e2 = [ 37, "Lima", 3200 ]
e3 = [ 23,"Bogotá", 1700]
e4 = [ 25, "Buenos Aires", 1100 ]
e5 = [ 43,"Buenos Aires", 3300]
e6 = [ 58, "Lima", 5500 ]
e7 = [ 32,"Bogotá", 2700]
e8 = [ 35, "Quito", 2500 ]

empleados = pd.DataFrame([e1,e2, e3, e4, e5, e6, e7, e8], 
                         index = ["Carlos", "David", "Ana", "Maria", "Felipe", "Luisa", "Juan", "Camila"], 
                         columns = ["Edad", "Ciudad Residencia", "Salario (en USD)"])
empleados

        Edad Ciudad Residencia  Salario (en USD)
Carlos    28            Bogotá              2000
David     37              Lima              3200
Ana       23            Bogotá              1700
Maria     25      Buenos Aires              1100
Felipe    43      Buenos Aires              3300
Luisa     58              Lima              5500
Juan      32            Bogotá              2700
Camila    35             Quito              2500

### Ejercicio 3

Implementa una función llamada `ciudades` que reciba un `DataFrame` por parámetro y retorne el número de ciudades diferentes en las que residen los empleados de la multinacional.

*Esta función debe retornar un `int`*.

In [12]:
# Implementa tu respuesta en esta celda.
def ciudades(data_frame):
    ciudades = data_frame['Ciudad Residencia'].unique()
    respuesta = len(ciudades)
    return respuesta
ciudades(empleados)

4

In [13]:
## AUTO-CALIFICADOR

# Test paremters
e1 = [ 28,"Quito", 2000]
e2 = [ 37, "Lima", 3200 ]
e3 = [ 22,"Bogotá", 1700]
e4 = [ 35, "Santiago", 1100]
e5 = [ 41,"Buenos Aires", 3900]
e6 = [ 58, "Lima", 5500]
e7 = [ 22,"Brasilia", 2100]
e8 = [ 35, "Bogotá", 2500]

empleados_test = pd.DataFrame([e1,e2, e3, e4, e5, e6, e7, e8], 
                              index = ["Carlos", "David", "Ana", "Maria", "Felipe", "Luisa", "Juan", "Camila"], 
                              columns = ["Edad", "Ciudad Residencia", "Salario (en USD)"])

# Caso 1: no existe la función.
try:
    ciudades
    assert type(ciudades) == type(lambda:None)
except:
    raise NotImplementedError("No existe una función llamada ciudades.")

# Caso 2: la función es interrumpida por errores durante su ejecución.
try:
    ciudades(empleados)
    ciudades(empleados_test)
except:
    raise RuntimeError("Tu función produce un error al ejecutarse.")

# Caso 3: no retorna un int
assert type(ciudades(empleados_test)) == int, f"Tu función debe retornar un objeto de tipo {int.__name__}."   

# Caso 4: respuesta explicita
assert ciudades(empleados_test) != 4, "Tu respuesta es incorrecta para una instancia diferente. Utiliza los parámetros."

# Caso 5: Retorna el número de elementos de la columna 'Ciudad Residencia'
assert ciudades(empleados_test) != 8, "Tu respuesta es el número de elementos de la columna 'Ciudad Residencia'."

# Caso 6: retorna un numero distinto del esperado
assert ciudades(empleados_test) == 6, "Tu respuesta es incorrecta."
assert ciudades(empleados) == 4, "Tu respuesta es incorrecta."

# Mensaje de felicitaciones
print("Felicidades, realizaste este ejercicio correctamente.")

Felicidades, realizaste este ejercicio correctamente.

### Ejercicio 4

Implementa una función llamada `mayor_al_promedio` que reciba un `DataFrame` y un índice de este `DataFrame` por parámetro, y retorne `True` si el salario asociado a este índice es mayor al promedio o `False` de lo contrario.

*Esta función debe retornar* `True` *o* `False` *.*

In [14]:
# Implementa tu respuesta en esta celda

def mayor_al_promedio(data_frame, index):
    promedio = data_frame['Salario (en USD)'].mean()
    if data_frame['Salario (en USD)'][index] > promedio:
        return True
    else:
        return False
    
mayor_al_promedio(empleados,4)

True

In [15]:
## AUTO-CALIFICADOR

# Test paremters
e1 = [ 28,"Quito", 2000]
e2 = [ 37, "Lima", 3200 ]
e3 = [ 22,"Bogotá", 1700]
e4 = [ 35, "Santiago", 1100 ]
e5 = [ 41,"Buenos Aires", 3900]
e6 = [ 58, "Lima", 5500 ]
e7 = [ 22,"Brasilia", 2100]
e8 = [ 35, "Bogotá", 2500 ]

empleados_test = pd.DataFrame([e1,e2, e3, e4, e5, e6, e7, e8],
                              index=["Carlos", "David", "Ana", "Maria", "Felipe", "Luisa", "Juan", "Camila"], 
                              columns=["Edad", "Ciudad Residencia", "Salario (en USD)"])

# Caso 1: no existe la función.
try:
    mayor_al_promedio
    assert type(mayor_al_promedio) == type(lambda:None)
except:
    raise NotImplementedError("No existe una función llamada mayor_al_promedio.")

# Caso 2: la función es interrumpida por errores durante su ejecución.
try:
    mayor_al_promedio(empleados, 'Juan')
    mayor_al_promedio(empleados_test, 'Luisa')
except:
    raise RuntimeError("Tu función produce un error al ejecutarse.")

# Caso 3: no retorna un boolean
assert type(mayor_al_promedio(empleados_test, 'Luisa')) == type(True), f"Tu función debe retornar un objeto de tipo {type(True).__name__}."    

# Caso 4: procedimiento incorrecto
assert mayor_al_promedio(empleados_test, 'Luisa') != False, "Tu respuesta es incorrecta para una instancia diferente. Utiliza los parámetros."

# Caso 5: retorna un numero distinto del esperado
assert mayor_al_promedio(empleados_test, 'Luisa') == True, "Tu respuesta es incorrecta."
assert mayor_al_promedio(empleados, 'Juan') == False, "Tu respuesta es incorrecta."

# Mensaje de felicitaciones
print("Felicidades, realizaste este ejercicio correctamente.")

Felicidades, realizaste este ejercicio correctamente.

### Ejercicio 5

Implementa una función llamada `modificar` que reciba un `DataFrame` por parámetro, elimine la segunda fila, cambie el nombre de la columna 'Salario (en USD)' a 'Sueldo (en USD)' y retorne un nuevo `DataFrame` con las modificaciones realizadas.

*Esta función debe retornar un* `DataFrame` *.*

In [16]:
# Implementa tu respuesta en esta celda

def modificar(data_frame):
    indices = data_frame.index.tolist()
    df_drop = data_frame.drop(indices[1])
    df_rename = df_drop.rename(columns = {'Salario (en USD)':'Sueldo (en USD)'})
    return df_rename
modificar(empleados)

        Edad Ciudad Residencia  Sueldo (en USD)
Carlos    28            Bogotá             2000
Ana       23            Bogotá             1700
Maria     25      Buenos Aires             1100
Felipe    43      Buenos Aires             3300
Luisa     58              Lima             5500
Juan      32            Bogotá             2700
Camila    35             Quito             2500

In [17]:
## AUTO-CALIFICADOR

# Test paremters
e1 = [ 28,"Quito", 2000]
e2 = [ 37, "Lima", 3200 ]
e3 = [ 22,"Bogotá", 1700]
e4 = [ 35, "Santiago", 1100 ]
e5 = [ 41,"Buenos Aires", 3900]
e6 = [ 58, "Lima", 5500 ]
e7 = [ 22,"Brasilia", 2100]
e8 = [ 35, "Bogotá", 2500 ]

empleados_test = pd.DataFrame([e1,e2, e3, e4, e5, e6, e7, e8],
                              index=["Carlos", "Diego", "Ariel", "Maria", "Felipe", "Luisa", "Juan", "Camila"], 
                              columns=["Edad", "Ciudad Residencia", "Salario (en USD)"])

# Caso 1: no existe la función.
try:
    modificar
    assert type(modificar) == type(lambda:None)
except:
    raise NotImplementedError("No existe una función llamada modificar.",)
    
# Caso 2: la función es interrumpida por errores durante su ejecución.
try:
    modificar(empleados)
    modificar(empleados_test)
except:
    raise RuntimeError("Tu función produce un error al ejecutarse.")

# Caso 3: no retorna un dataframe
assert type(modificar(empleados_test)) == type(empleados_test), f"Tu función debe retornar un objeto de tipo {type(empleados_test).__name__}."    

# Caso 4: Cambio de nombre correcto
assert modificar(empleados_test).columns[2] == 'Sueldo (en USD)', "Tu respuesta es incorrecta. Recuerda modificar el nombre de la columna 'Salario (en USD)'"

# Caso 5: Elimino la fila
modificar(empleados_test).index[[1]] == 'Ariel', "Tu respuesta es incorrecta. Recuerda eliminar la segunda fila del DataFrame."

# Caso 6: los cambios son estrictamente correctos
try:
    assert modificar(empleados).columns[2] == 'Sueldo (en USD)'
    assert modificar(empleados).index[[1]] == 'Ana'
except AssertionError as e:
    e.args += ("Tu respuesta es incorrecta.",)
    raise e

# Mensaje de felicitaciones
print("Felicidades, realizaste este ejercicio correctamente.")

Felicidades, realizaste este ejercicio correctamente.

## Lista de países

A continuación encuentras un `DataFrame` con un listado de países con su respectivo nombre en inglés y en español.

In [18]:
# Esta celda no es modificable.

paises = pd.read_csv("./Archivos/DiccionarioPaises.csv", encoding = "UTF-8", delimiter = ";")
paises.head()

  País en español País en inglés
0      Afganistán    Afghanistan
1         Albania        Albania
2        Alemania        Germany
3         Andorra        Andorra
4          Angola         Angola

### Ejercicio 6

Implementa una función llamada `dif_longitud` que reciba un `DataFrame` por parámetro, elimine los países cuya traducción cambie en longitud  y retorne un `DataFrame` con las modificaciones realizadas.

*Esta función debe retornar un* `DataFrame` *.*

In [19]:
# your code here

def dif_longitud(data_frame):
    
    lista_espanol = []
    lista_ingles = []
    indices_a_eliminar = []
    
    for i, pais in enumerate(data_frame['País en español']):
        espanol = len(pais)
        lista_espanol.append(espanol)
    
    for i, pais in enumerate(data_frame['País en inglés']):
        ingles = len(pais)
        lista_ingles.append(ingles)
    
    paises_a_eliminar = []
    for i, (es, en) in enumerate(zip(lista_espanol, lista_ingles)):
        if es != en:
            paises_a_eliminar.append(i)
    
    df_drop = data_frame.drop(paises_a_eliminar)
    
    return df_drop

dif_longitud(paises)

    País en español País en inglés
1           Albania        Albania
3           Andorra        Andorra
4            Angola         Angola
6      Arabia Saudí   Saudi Arabia
7           Argelia        Algeria
..              ...            ...
203       Venezuela      Venezuela
204         Vietnam        Vietnam
205           Yemen          Yemen
207          Zambia         Zambia
208        Zimbabue       Zimbabwe

[127 rows x 2 columns]

In [20]:
## AUTO-CALIFICADOR

# Base variables
paises = pd.read_csv("./Archivos/DiccionarioPaises.csv", encoding = "UTF-8", delimiter = ";")
nombre_columnas = ['País en español', 'País en inglés']

# Caso 1: no existe la función.
try:
    dif_longitud
    assert type(dif_longitud) == type(lambda:None)
except:
    raise NotImplementedError("No existe una función llamada dif_longitud.",)
    
# Caso 2: la función es interrumpida por errores durante su ejecución.
try:
    dif_longitud(paises)
except:
    raise RuntimeError("Tu función produce un error al ejecutarse.")

# Caso 3: no retorna un DataFrame.
assert type(dif_longitud(paises)) == type(paises), f"Tu función debe retornar un objeto de tipo {type(paises).__name__}."

# Caso 4: devuelve un dataframe cuyas columnas tienen nombre distinto de lo esperado
assert [*dif_longitud(paises).columns] == nombre_columnas, "Tu función retorna un DataFrame con columnas cuyos nombres no coinciden con los de los datos del archivo. Asegurate de estar filtrando las columnas indicadas."

# Caso 5: devuelve un dataframe con cantidad de filas errada.
assert dif_longitud(paises).shape[0] == 127, "Tu función retorna un DataFrame con cantidad de filas errada."

# Caso 6: No elimina las filas correctas
assert sum((dif_longitud(paises)['País en español']+dif_longitud(paises)['País en inglés']).apply(len) % 2) == 0, "Tu función no elimina las filas correctas del DataFrame."

### BEGIN HIDDEN TESTS

def dif_longitud_sol(df):
    
    a_eliminar=[]
    for i in range(len(df['País en inglés'])):
        if len(df.iloc[i, 0]) != len(df.iloc[i, 1]):
            a_eliminar.append(i)
    a=df.drop(a_eliminar)              
    return a

students = dif_longitud(paises)

paises = pd.read_csv("./Archivos/DiccionarioPaises.csv", encoding = "UTF-8", delimiter = ";")

ours = dif_longitud_sol(paises)

pd.testing.assert_frame_equal(students, ours)

### END HIDDEN TESTS

# Mensaje de felicitaciones
print("Felicidades, realizaste este ejercicio correctamente.")

Felicidades, realizaste este ejercicio correctamente.

### Ejercicio 7

Implementa una función llamada `paises_por_a` que reciba un `DataFrame` por parámetro y retorne el mismo `DataFrame` con los países cuyo nombre en español inicia con la letra `"A"`. 

*Esta función debe retornar un `DataFrame`*.

In [21]:
# Implementa tu respuesta en esta celda.

def paises_por_a(data_frame):
    
    paises_a_eliminar = []
    
    for i, pais in enumerate(data_frame['País en español']):
        if pais[0] != 'A':
            paises_a_eliminar.append(i)
            
    df_drop = data_frame.drop(paises_a_eliminar)
    
    return df_drop

paises_por_a(paises)

      País en español       País en inglés
0          Afganistán          Afghanistan
1             Albania              Albania
2            Alemania              Germany
3             Andorra              Andorra
4              Angola               Angola
5   Antigua y Barbuda  Antigua and Barbuda
6        Arabia Saudí         Saudi Arabia
7             Argelia              Algeria
8           Argentina            Argentina
9             Armenia              Armenia
10          Australia            Australia
11            Austria              Austria
12         Azerbaiyán           Azerbaijan

In [22]:
## AUTO-CALIFICADOR

# Base variables
paises = pd.read_csv("./Archivos/DiccionarioPaises.csv", encoding = "UTF-8", delimiter = ";")
nombre_columnas = ['País en español', 'País en inglés']

# Caso 1: no existe la función.
try:
    paises_por_a
    assert type(paises_por_a) == type(lambda:None)
except:
    raise NotImplementedError("No existe una función llamada paises_por_a.",)
    
# Caso 2: la función es interrumpida por errores durante su ejecución.
try:
    paises_por_a(paises)
except:
    raise RuntimeError("Tu función produce un error al ejecutarse.")

# Caso 3: no retorna un dataframe.
assert type(paises_por_a(paises)) == type(paises), f"Tu función debe retornar un objeto de tipo {type(paises).__name__}."    

# Caso 4: devuelve un dataframe cuyas columnas tienen nombre distinto de lo esperado
assert [*paises_por_a(paises).columns] == nombre_columnas, "Tu función retorna un DataFrame con columnas cuyos nombres no coinciden con los de los datos del archivo. Asegurate de estar filtrando las columnas indicadas."

# Caso 5: devuelve un dataframe con cantidad de filas errada.
assert paises_por_a(paises).shape[0] == 13, "Tu función retorna un DataFrame con cantidad de filas errada."

# Caso 6: No elimina las filas correctas
lista_a = ['Afganistán', 'Albania', 'Alemania', 'Andorra', 'Angola', 'Antigua y Barbuda', 'Arabia Saudí', 'Argelia', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaiyán']

assert lista_a == [*paises_por_a(paises)['País en español']], "Tu función no elimina las filas correctas del DataFrame."

### BEGIN HIDDEN TESTS

def paises_por_a_sol(df):
    a = df
    no_a = []
    for i in range(len(df['País en español'])):
        if str(df.iloc[i, 0])[0] != 'A':
            no_a.append(i)
    a = df.drop(no_a)
    return a

students = paises_por_a(paises)
ours = paises_por_a_sol(paises)

pd.testing.assert_frame_equal(students, ours)
    
### END HIDDEN TESTS

# Mensaje de felicitaciones
print("Felicidades, realizaste este ejercicio correctamente.")

Felicidades, realizaste este ejercicio correctamente.

### Ejercicio 8

A continuación encuentras una tupla con las letras del alfabeto.

In [23]:
# Esta celda no es modificable.

alfabeto = ('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 
            'J', 'K', 'L', 'M', 'N', 'Ñ', 'O', 'P', 'Q', 
            'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z')

Implementa una función llamada `inicia_con` que reciba un `DataFrame` por parámetro y retorne un diccionario cuyas llaves sean las letras del abecedario y el valor de cada llave sea el número de países cuyo nombre en inglés inicia con la respectiva letra. 

*Esta función debe retornar un diccionario*.

In [24]:
# Implementa tu respuesta en esta celda

def inicia_con(data_frame):
    #Inicializando el diccionario con todas las llaves
    diccionario = {}
    for key in alfabeto:
        diccionario[key] = 0

    for pais in data_frame['País en inglés']:
        if pais[0] in alfabeto:
            indice = alfabeto.index(pais[0])
            key = alfabeto[indice]
            diccionario[key] += 1
            
    return diccionario

inicia_con(paises)

{'A': 11,
 'B': 18,
 'C': 15,
 'D': 3,
 'E': 9,
 'F': 3,
 'G': 13,
 'H': 4,
 'I': 9,
 'J': 3,
 'K': 7,
 'L': 9,
 'M': 17,
 'N': 11,
 'Ñ': 0,
 'O': 1,
 'P': 11,
 'Q': 1,
 'R': 3,
 'S': 24,
 'T': 23,
 'U': 6,
 'V': 4,
 'W': 1,
 'X': 0,
 'Y': 1,
 'Z': 2}

In [25]:
## AUTO-CALIFICADOR

# Base variables
paises = pd.read_csv("./Archivos/DiccionarioPaises.csv", encoding = "UTF-8", delimiter = ";")
nombre_columnas = ['País en español', 'País en inglés']
alfabeto = ('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 
            'J', 'K', 'L', 'M', 'N', 'Ñ', 'O', 'P', 'Q', 
            'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z')

# Caso 1: no existe la función.
try:
    inicia_con
    assert type(inicia_con) == type(lambda:None)
except:
    raise NotImplementedError("No existe una función llamada inicia_con.",)
    
# Caso 2: la función es interrumpida por errores durante su ejecución.
try:
    inicia_con(paises)
except:
    raise RuntimeError("Tu función produce un error al ejecutarse.")

# Caso 3: no retorna un diccionario.
assert type(inicia_con(paises)) == type({}), f"Tu función debe retornar un objeto de tipo '{type({}).__name__}'."    

# Caso 4: Llaves son el abecedario
assert tuple(inicia_con(paises).keys()) == alfabeto, "Tu diccionario tiene llaves diferentes al abecedario."

# Caso 5: Comparamos las que son iguales a cero y otros valores.
try:
    assert (inicia_con(paises).get('Ñ')) == 0
    assert (inicia_con(paises).get('X')) == 0
    assert (inicia_con(paises).get('B')) == 18
    assert (inicia_con(paises).get('W')) == 1
    assert (inicia_con(paises).get('S')) == 24

except AssertionError as e:
    e.args += ("Tu respuesta es incorrecta. Revisa tu procedimiento",)
    raise e

# Mensaje de felicitaciones
print("Felicidades, realizaste este ejercicio correctamente.")

Felicidades, realizaste este ejercicio correctamente.

## Créditos

**Autor(es):** Camilo Falla Moreno, Juan David Reyes Jaimes, Alejandro Mantilla Redondo, Diego Alejandro Cely Gómez

**Fecha última actualización:** 17/09/2021