In [1]:
import pandas as pd

In [2]:
ruta = './mmps_clase2_datos.csv'
data_frame = pd.read_csv(ruta)
data_frame.head()

   FranjaHoraria  HoraSegundos  TiempoEntreArribos
0              1      0.000000           22.613067
1              1     22.613067           14.997886
2              1     37.610953           29.935142
3              1     67.546095           80.100269
4              1    147.646364           16.247739

In [3]:
data_frame['FranjaHoraria'].unique()

array([1, 2, 3])

In [ ]:
data_frame[data_frame['FranjaHoraria'] == 3]